{% extends "base.html" %}

{% load staticfiles %}

{% block extra_js %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
$(document).ready(function() {

    $("#id_fecha_inicio").datepicker({ dateFormat: 'yy-mm-dd', dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'], monthNamesShort: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],yearRange:"2009:2015",changeMonth: true, changeYear: true});

    $("#id_fecha_final").datepicker({ dateFormat: 'yy-mm-dd', dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'], monthNamesShort: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],yearRange:"2009:2015",changeMonth: true, changeYear: true});

});
</script>

{% endblock extra_js %}

{% block contenido %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/">Inicio <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Menu1</a></li>
            <li><a href="#">Menu2</a></li>
            <li><a href="#">Menu3</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Tablero de Gestión -SIMAS</h1>
		  Consultar por fecha: <form action="." method="POST"> {% csrf_token %}
            {{form}}
            <input type="submit" value="Consultar"/>      
          </form> 
        
        {% if centinela %}
            <a href="/tablero">Ver datos</a>
        {% endif %}
		
        
        </div> <!-- main -->
      </div> <!-- row -->
    </div> <!-- container fluid -->

{% endblock contenido %}